body {
    margin: 5;
    padding: 0;
}
pre
{
 
  border: solid;
  border-radius: 7px;
  padding: 10px;
  overflow: scroll;
}


.fade-in-1s{
    animation: fadeIn 1s ease-out forwards;
  }
.fade-in-2s{
    animation: fadeIn 2s ease-out forwards ;
  }
  .fade-in-4s{
    animation: fadeIn 3s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  
