{% extends "base.html" %}

{% block content %}
<!-- <h1>About Me</h1> -->

<div class="text-black dark:text-white container m-auto flex flex-col md:flex-row  justify-center">
    <h1 class="title p-5">
        {{ section.title }}
    </h1>
<div class="relative flex flex-col my-6 bg-white dark:bg-inherit dark:border-white dark:text-white shadow-sm border-solid rounded-lg w-auto">      
    <div class="mx-3 mb-0 border-2  mt-2  dark:border-white pt-3 pb-2 px-1">
      <span class="text-sm font-medium text-white">
        $ cat about.txt
      </span>
    </div>
    
    <div class="p-4">
      <!-- <h5 class="mb-2 text-white text-xl font-semibold"> -->
          <p class=" text-black dark:text-white leading-normal font-light">
            🐝 I'm an undergraduate at the Birla Vishvakarma Mahavidyalaya   studying Computer Engineering 
            <br>
            👨🏻‍💻 Most of my experience is in full stack development       
      </p>
    </div>
    <div class="mx-3 border-t border-slate-200 pb-3 pt-2 px-1">
      <span class="text-sm  font-medium">
        Last updated: 23 jun 2025
      </span>
    </div>
  </div>
</div>
{% endblock content %}
