{% if page.toc %}
  <ul>
    {% for h1 in page.toc %}
      <li class='list-none text-xl'><a href="{{ h1.permalink | safe }}" class="no-underline hover:underline dark:text-white text-black>{{ h1.title }}</a>
        {% if h1.children %}
          <ul >
            {% for h2 in h1.children %}
              <li class='list-none' ><a href="{{ h2.permalink | safe }}" class="no-underline hover:underline dark:text-white text-black">{{ h2.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
